<h1>Users#show</h1>
<p>First Name:<%= @user.first_name %></p>
<p>Last Name:<%= @user.last_name %></p>
<p>Hair Color:<%= @user.hair_color %></p>
<p>Eye Color:<%= @user.eye_color %></p>
<p>Gender:<%= @user.gender %></p>
<p>Alive:<%= @user.alive %></p>
<%= link_to "Back", users_path%>
<%= link_to "Edit", edit_user_path